-- app-main.u

deploy.deploy : '{IO, Exception} URI
deploy.deploy = Cloud.main do
  env = !Environment.default
  db  = main.initializeStorage env
  serviceName = ServiceName.create "app"
  serviceHash = deployHttp env (main.main db)
  ServiceName.assign serviceName serviceHash

main.initializeStorage : Environment ->{Exception, Cloud} Database
main.initializeStorage env =
  db = Database.create "appDB"
  Database.assign db env
  db

main.main :
  Database ->
  HttpRequest ->
  {Exception, Storage, Remote, Random, Log} HttpResponse
main.main db req =
  use Route <|>
  Route.run (app.routes db) req
