-- repository-adapter.u

MyEntityRepository.run :
  Database ->
  '{g, MyEntityRepository} a ->
  {g, Remote} a
MyEntityRepository.run db p =
  table : OrderedTable Text MyEntity
  table = OrderedTable.named db "myentities" Universal.ordering

  get' : Text ->{g, Remote} (Optional MyEntity)
  get' id = OrderedTable.tryRead table id

  listAll' : '{g, Remote} [MyEntity]
  listAll' =
    do OrderedTable.toStream table
       |> Stream.map at2
       |> Stream.toList

  upsert' : MyEntity ->{g, Remote} ()
  upsert' e = OrderedTable.write table e.id e

  delete' : Text ->{g, Remote} ()
  delete' id = OrderedTable.delete table id

  go : '{g, MyEntityRepository} a -> {g, Remote} a
  go p = handle !p with cases
    {get id -> resume}     -> go '(resume (get' id))
    {listAll _ -> resume}  -> go '(resume (listAll' ()))
    {upsert e -> resume}   -> go '(resume (upsert' e))
    {delete id -> resume}  -> go '(resume (delete' id))
    {k} -> k

  go p
